
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/cart.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navBar">
            <div class="site-title"><a href="index"> DELICIOUS CORNER </a></div>
            <div class="hamburger ">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="nav-links">
                    <div class="restaurants"><a href="restaurants">RESTAURANTS</a></div>
                    <div class="dropdown logoutOptions">
                        <div class="dropbtn profile"><i class="fas fa-user"></i></div>
                        <div class="dropdown-content">
                            <div><a href="profile">PROFILE</a></div>
                            <div><a href="status?stat=LOGOUT">LOGOUT</a></div>
                        </div>
                    </div>
            </div>
        </div>


        <div class="mainPage">
            <% if (data.length==0){ %>
                <div class="pageInfo">YOUR CART IS EMPTY</span></div>
            <%} %>
            <% if (data.length!=0){ %>
            <div class="pageInfo">YOUR CART</span></div>
            <%} %>
            <div class="restaurantsContainer">
                <form action="" method="POST" class="formDiv">
                    <div class="cards">
                        <!-- <div class="total"></div> -->
                        <% if (data.length!=0){
                            // var i=1;
                            data.forEach(function (element){ 
                        %>
                        <div class="cardTemp">
                            <div class="restDtls">
                                <div class="image"><img src="images/<%= element.pImage; %>" alt= <%= element.pImage; %> height="100%" width="100%"></div>
                                <div class="rInfo">
                                    <div class="Pname"><%= element.productName; %></div>
                                    <div class="Rname"><%= element.rName; %></div>
                                </div>
                                <div class="status"><%= element.Ostatus; %></div>
                            </div>
                            <div class="itemFooter">
                                <div class="cart">
                                    <span>
                                        <button class="remove">-</button>
                                        <span > <input type="text" value="<%= element.Qty; %>" name="Qty" class="qtyValue" readonly></span> 
                                        <button class="add">+</button> 
                                    </span>
                                    <span>
                                        <span>₹</span> 
                                        <span class="price"><%= element.price; %></span>
                                    </span>
                                </div>
                                <div class="delete">
                                    <span>
                                        <span class="deleteOrder"><a href="deleteCart?id=<%= element.orderId; %>"><i class="deleteProduct fas fa-trash-alt"></i></a></span>
                                    </span>
                                </div>
                            </div>
                            <div class="orderId"><input type="text" readonly="readonly" value="<%= element.orderId; %>" name="orderId" ></div>   
                        </div>
                            <% }) %>
                        <% } %>
                        
                    </div>  
                    <div class="detailsSave">
                        <% if (data.length!=0){
                            %>
                        <button type="submit">SAVE</button>
                        <% }%>
                    </div>
                        
                </form>       
                <div class="priceDtl">
                    <% if (data.length!=0){
                            %>
                    <div class="cartDtls">
                        <div class="totalHeading">CHECKOUT SUMMARY</div>
                        <div class="totalAmt">
                            <div class="checkOut">Subtotal</div>
                            <div class="Hvalue">
                                <span>₹</span>
                                <span class="total">0</span>
                            </div>
                        </div>
                        <div class="totalAmt">
                            <div class="checkOut">Estimated Tax</div>
                            <div class="Hvalue">
                                <span>₹</span>
                                <span class="taxTotal">50</span>
                            </div>
                        </div>
                        <div class="totalAmt bill">
                            <div class="checkOut">Estimated Total</div>
                            <div class="Hvalue">
                                <span>₹</span>
                                <span class="estTotal">0</span>
                            </div>
                        </div>
                        <div class="placeOrder"><button><a href="placeOrder?id=<%=data[0].CId ;%>">PLACE ORDER</a></button></div>
                    </div>
                    <% }%>
                </div>

        </div>

    </div>
        
       
        
    </div>
    <script src="js/index.js"></script>
    <script src="js/cart.js"></script>
    <script src="https://kit.fontawesome.com/04ce6063ff.js" crossorigin="anonymous"></script>
</body>
</html>