<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDERS</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/orders.css">
</head>
<body>
    <div class="container">
        <div class="navBar">
            <div class="site-title"><a href="index"> DELICIOUS CORNER </a></div>
            <div class="hamburger ">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="nav-links">
                <div><a href="about">ABOUT</a></div>
                    
                    <div class="dropdown">
                        <div class="dropbtn">USER</div>
                        <div class="dropdown-content">
                            <div><a href="login">LOGIN</a></div>
                            <div><a href="register">REGISTER</a></div>
                        </div>
                    </div>
                    <div><a href="addProduct">ADD</a></div>
                    <div><a href="showProducts">PRODUCTS</a></div>
                    <div><a href="#">HELP</a></div>
                    <div><a href="#">CONTACT</a></div>
            </div>
        </div>

        <div class="restaurants">
            <div class="cards">
                <% if (data.length!=0){
                    var i=1;
                    data.forEach(function (element){ 
                %>
                <div class="cardTemp">
                    <div class="orderId"><%= element.orderId; %></div>
                    <div class="productName"><%= element.productName; %></div>
                    <div class="custName"><%= element.firstName; %> <%= element.lastName; %></div>
                    <div class="location element">
                        <span>QTY: <%= element.Qty; %></span> 
                        <span><%= element.status; %></span>
                    </div>
                    <div class="modify element">
                        <span value="status" class="changeStatus" >CHANGE STATUS</span>
                        <span><a href="deleteOrder?id=<%= element.orderId; %>"><i class="fas fa-trash-alt"></i></a></span>
                    </div>
                </div>
                
                    <% }) %>
                <% } %>
            </div>
        </div>
        <div class="show changeStatusDiv">
            <form action="" method="POST" class="changeStatusForm" >
                <div class="close"><i class="fas fa-times"></i></div>
                <div class="id" >
                    <span>ORDER ID </span>
                    <span class="selectedOrderId"></span>
                </div>
                <div class="status">
                    <span>CURRENT STATUS :</span>
                    <span class="currentStatus"></span>
                </div>
                <div class="modifiedStatus">
                    <input type="text" name="newStatus" placeholder="CHANGE STATUS">
                </div>
                <div class="submit">
                    <button type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
    <script src="js/index.js"></script>
    <script src="js/orders.js"></script>
    <script src="https://kit.fontawesome.com/04ce6063ff.js" crossorigin="anonymous"></script>
</body>
</html>