<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/products.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="navBar">
            <div class="site-title"><a href="index"> DELICIOUS CORNER </a></div>
            <div class="hamburger ">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            <div class="nav-links">
                <div><a href="restaurants">RESTAURANTS</a></div>
                <div class="status"><a href="status?stat=<%=status; %>"> <%= status; %></a></div>
                <div class="loginOptions"><a href="register">REGISTER</a></div>
                <div class="logoutOptions"><a href="cart"><i class="fas fa-shopping-cart"></i></a></div>
                <div class="dropdown logoutOptions">
                    <div class="dropbtn profile"><i class="fas fa-user"></i></div>
                    <div class="dropdown-content">
                        <div><a href="profile">PROFILE</a></div>
                        <div><a href="status?stat=LOGOUT">LOGOUT</a></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="restaurants">
            <div class="restaurantHeader" id="restaurantHeader">
                <div class="rimage"><img data-src="images/<%= data[0].rImage; %>" alt="<%= data[0].rImage; %>"  calss="lazyload" height="100%" width="100%"></div>
                <div class="rInfo">
                    <div class="rName"><%= data[0].rName; %></div>
                    <div class="rAddress"><%= data[0].rAddress; %></div>
                </div>
            </div>
            <div class="content">
                <div class="categories">
                    <% if(categories.length!=0){
                        categories.forEach(element => {
                    %>
                    <div class="category"><a href="#<%=element.category; %>"><%=element.category.toUpperCase() %></a></div>        
                    <%   });
                    } %> 
                </div>
                <div class="cards">
                    <% if(categories.length!=0){
                        categories.forEach(category => {
                            %>
                            <div class="categoryHeading" id="<%=category.category %>"><%=category.category.toUpperCase(); %></div>

                            <%   if (data.length!=0){
                                data.forEach(function (element){ 
                                    if(element.category === category.category){ 
                    %>
                    <div class="cardTemp">
                        <div class="image"><img data-src="images/<%= element.pImage; %>" alt= <%= element.pImage; %> class="lazyload" height="100%" width="100%"></div>
                        <div class="Pname pInfo"><%= element.productName; %></div>
                        <div class="price pInfo">₹<%= element.price; %></div>
                        <div class="cart"><a href="addToCart?id=<%= element.productId; %>">ADD TO CART</a></div>
                    </div>
                    <% } %>
                        <% }) %>
                    <% } %>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script src="js/index.js"></script>
    <script src="js/products.js"></script>
    <script src="https://kit.fontawesome.com/04ce6063ff.js" crossorigin="anonymous"></script>
</body>
</html>